.container {
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 25px;
    align-items: center;  
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  }

body {
    font-family: sans-serif;    
    display: block;
    color: #adccef;
    
}

input[type=text] {
   margin: 20px 5px;  
   color: #253b4c;
      }

input[type=Submit] {
    background-color: #ffffff;
    color: #253b4c;
}

div[id=conditions] {
    text-transform: capitalize;
}



button {
    background-color: #ffffff;
    color: #253b4c;
}
.card-img-top{
    display: block; 
    margin: 0 auto;
    height: 48px;
    width: 48px;
}
.weather-forecast-temperature{
    max-width:70px;
    color:#a6c9fd;
    font-size: 20px;
    display: block; 
}
h3 {
    max-width:70px;
    color:#a6c9fd;
    font-size: 20px;
    display: block; 
    text-align: center;
    
}
h1 {
    text-align: left;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    display: block;
  }

  Small{
      font-size: 1rem;
      font-weight: 400px;
      line-height: 1.5;
      text-align: left;
      }
.column-1 {
    float: left;
    width: 33.33%;
}

#celsius-link {
    color:#a6c9fd;
    cursor: default;
}

#celsius-link:hover {
    text-decoration: none;
}

#fahrenheit-link {
    color:#a6c9fd;
    cursor: default;
}

#fahrenheit-link:hover {
    text-decoration: none;
}